fieldset{
    width: 15%;
    background-color: black;
    color: white;
    border-radius: 5px;
    margin-left: 40%;
    margin-top: 15%;
}

body{
    background-image: url(https://img.freepik.com/vetores-gratis/numeros-de-queda-digitais-do-codigo-binario-do-estilo-da-matriz-fundo-azul_1017-37387.jpg?size=626&ext=jpg&ga=GA1.1.1819120589.1727913600&semt=ais_hybrid);
    
}

